<link href="~/css/styleVuelos.css" rel="stylesheet" type="text/css" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/panel.js" type="text/javascript"></script>


<header style="padding-top:0px;">
    <div class="Container">
        <div class="submenu col-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                    <p class="userAut"><strong>BIENVENIDO:</strong> USUARIO DE PRUEBAS</p>
                </div>

                <div class="salir col-6 ">
                    <a class="cerrar" href='@Url.Action("cerrar", "vuelosyOtros")'>
                        <i class="exit fa fa-sign-out"></i>
                        Cerrar Sesión
                    </a>
                </div>

                <div class="redes col-12">
                    <ul>
                        <li><button class="btn_redes" onclick="window.open('https://www.facebook.com/gruposco-448478105889532/?ref=br_rs','_blank');" target="_blank"><img class="imgRedesFace" src="~/Images/Facebook1.png" /></button></li>
                        <li><button class="btn_redes" onclick="window.open('https://www.instagram.com/grupos.co/','_blank');" target="_blank"><img class="imgRedes" src="~/Images/Instagram1.png" /></button></li>
                        <li><button class="btn_redes" onclick="window.open('https://www.linkedin.com/company/grupos-co','_blank');" target="_blank"><img class="imgRedes" src="~/Images/Linkedin1.png" /></button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Containerlogo">
            <div class="Containerlogo_img" style="width:280px">
                <img src="~/Images/Logo_Color-8.png" alt="">
            </div>
            <div class="contactoTel">
                <p>01 (800) 9520- 873</p>
            </div>
        </div>

        <!-- Menu que se visualiza en versión mobile -->
        <div class="menu_bar">
            <a href="#" class="bt-menu">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <nav class="contactos">
            <ul>
                <li> <a href="tel:018007522303">Ventas 01 800 752 23 03</a></li>
                <li> <a href="https://api.whatsapp.com/send?phone=573145723198text=Hola!%20Necesito%20información%20sobre%20un%20destino!" target="_blank">Whatsapp 314 572 31 98</a></li>
                <li><a href="#"><span class="icon-earth"></span>Términos y Condiciones</a></li>
                <li><a href="#"><span class="icon-earth"></span>Otros</a></li>
                <li><a href='@Url.Action("Index", "Grupos")'><span class="icon-earth"></span>Cerrar Sesión</a></li>
            </ul>
        </nav>
    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="col-12">
            <div class="row">
                <div class="col-6 text-center mt-2 mb-3">
                    <div class="mb-3"><span>VUELOS REGIONALES</span></div>
                    <button class="botonesmenu shrink">
                        <i class="imgmenu fa fa-plane"></i>
                    </button>
                    <div class="mt-3 mb-2"><span>GCA AIRLINES | SATENA | EASY FLY</span></div>
                    <div><button class="ingresar btn">Ingresar</button></div>
                </div>

                <div class="col-6 text-center mt-2 mb-3">
                    <div class="mb-3"><span>TODOS LOS SERVICIOS</span></div>
                    <button class="botonesmenu shrink">
                        <i class="imgmenubox fa fa-archive"></i>
                    </button>
                    <div class="mt-3 mb-2"><span>GPAQUETES | CRUCEROS | HOTELES | TOURS</span></div>
                    <div><button class="ingresar btn">Ingresar</button></div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="imgfooter col-12 mt-2 mb-2">
                <img src="~/Images/Gruposlogan.svg" alt="">
            </div>
            <div class="copy col-12">
                <p>©Copyright ; grupos.co | Turismo Agencia de viajes. Todos los derechos reservados | <a href="#">Términos y condiciones</a> | <a href="#" target="_blank">RNT</a> | Contacto: operaciones@grupos.co</p>
            </div>

            <div class="contacto col-12">
                <h6>  Ventas  <img src="~/Images/Auriculares.png" alt="">  01 800 752 23 03</h6>
                <h6>  Chat  <img src="~/Images/Whatsapp_bl.png" alt="">  314 572 31 98</h6>
            </div>

            <div class="siguenos col-12">
                <h6>Síguenos en nuestras redes</h6>
                <div class="sociales">
                    <a href="https://www.facebook.com/gruposco-448478105889532/?ref=br_rs" target="_blank"><img class="facebookfooter" src="~/images/Facebook bl.png" /></a>
                    <a href="https://www.instagram.com/grupos.co/" target="_blank"><img class="instagram" src="~/images/Instagram bl.png" /></a>
                    <a href="https://www.linkedin.com/company/grupos-co" target="_blank"><img class="linkedin" src="~/images/Linkedin bl.png" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>

