#banner {
  margin-top: 50px;
  position: relative;
  padding: 0;
}
#banner .carrousel {
  width: 100%;
  height: 100%;
}
#banner .Container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index:10;
}
#banner .Container img {
  width: 0px;
}

.checkeable input {
    display: none;
}

.checkeable input {
    display: none;
}

.checkeable input:checked + img {
    border-color: blue;
}

@media (min-width:1025px) {
#banner {
    margin-top: 0px;
    padding-right: 5px;
}
  #banner .Container{
    position: absolute;
    top: 14%;
    left: 53%;
    transform: translateX(-50%) translateY(-100%);
  }
  #banner .Container img {
    /*width: 150px;*/
  }
}
