@font-face {
    font-family: 'gilroyregular';
    src: url('../fonts/gilroyregular.ttf') format('truetype');
}

@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/gilroybold.ttf') format('truetype');
}

body {
}

.table {
    width: 100%;
}

    .table thead th {
        vertical-align: inherit;
        font-weight: bold;
        font-family: 'gilroyregular';
        padding: 0;
        font-size: 13px;
        text-align:center;
    }

    .table td {
        font-size: 13px;
        font-family: 'gilroyregular';
        vertical-align: inherit;
        text-align:center;
    }

table td:first-child {
    width: 190px;
}

table td:nth-child(2) {
    width: 100px;
}

table td:nth-child(3) {
    width: 100px;
}

table td:nth-child(4) {
    width: 110px;
}

table td:nth-child(5) {
    text-align: center;
    width: 150px;
}

table td:nth-child(6) {
    text-align: center;
    width: 150px;
}

table td:nth-child(7) {
    text-align: center;
    width: 150px;
}

table td:nth-child(8) {
    text-align: center;
    width: 150px;
}

table td:nth-child(9) {
    text-align: center;
    width: 150px;
}

table td:nth-child(10) {
    text-align: center;
    width: 80px;
}


/*CSS param los encabezados defs label tabla*/
table th:nth-child(5) {
    text-align: center;
}

table th:nth-child(6) {
    text-align: center;
}

table th:nth-child(7) {
    text-align: center;
}

table th:nth-child(8) {
    text-align: center;
}

table th:nth-child(9) {
    text-align: center;
}

.activar {
    font-size: 25px;
    color: green;
    cursor: pointer;
    margin-right: 10px;
}

.inactivar {
    font-size: 25px;
    color: red;
    cursor:pointer;
}
